body{
    margin: 0;
}

nav{
    background-color: darkgrey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.img1{
    width: 125px;
    height: auto;
}

ul{
    display: flex;
    gap:15px;
}

H1{
    text-align: center;
}

img{
    width: 350px;
    height: auto;
}

h2{
    text-align: center;
}

section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

div{
    width: 350px;
    border: solid 3px black;
    background-color: gray;
    padding-bottom: 10px;
    display: block;
    margin: auto;
}

ul{
    list-style: none;
}

button{
    width: 15px;
    padding: 1px;
    background-color: black;
    color: aliceblue;
    display: block;
    margin: auto;
    cursor: pointer;
}